[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-httpdomain = "*"


[packages]

flask = "*"
flask-sqlalchemy = "*"
python-dateutil = "*"
jsonschema = "*"


[requires]

python_version = "2.7"
