[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-httpdomain = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dateutil = "*"
jsonschema = "*"
requests = "*"

[requires]
python_version = "3.8"
