[Unit]
Description=Patch Server daemon
After=network.target

[Service]
PIDFile=/run/patchserver/pid
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/patchserver
ExecStart=/usr/local/patchserver-venv/bin/gunicorn \
    --pid /run/gunicorn/pid \
    --config /opt/patchserver/config.py \
    --log-level info \
    --access-logfile /opt/patchserver/access.log \
    wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target