[Unit]
Description = Patch Server
After = network.target

[Service]
PIDFile = /run/patchserver/patchserver.pid
User = www-data
Group = www-data
WorkingDirectory = /opt/ps
ExecStartPre = /bin/mkdir /run/patchserver && \
               /bin/chown -R www-data:www-data /run/patchserver
ExecStart = /usr/local/patchserver-venv/bin/gunicorn --config /opt/ps/config.py wsgi --pid /run/patchserver/patchserver.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/patchserver

[Install]
WantedBy = multi-user.target
