{% extends 'base.html' %}
{% block body_content %}

    <div class="container-fluid">
        <div class="col-md-12 main">
            <h2>Patch Titles</h2>

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/patch?id={{ patch_title.id_name }}">{{ patch_title.id_name }}</a></li>
                <li class="current">Add Patch Title</li>
            </ol>

            <form class="col-md-4 col-sm-6" id="editPatchForm">
                <div class="form-group">
                    <label for="patch_id">Patch ID</label>
                    <input type="text" class="form-control" id="patch_id"
                           value="{{ patch_title.id_name }}" required disabled/>
                </div>

                <div class="form-group">
                    <label for="patch_name">Name</label>
                    <input type="text" class="form-control" id="patch_name"
                           name="name" value="{{ patch_title.name }}" required/>
                </div>

                <div class="form-group">
                    <label for="patch_pub">Publisher</label>
                    <input type="text" class="form-control" id="patch_pub"
                           name="publisher" value="{{ patch_title.publisher }}" required/>
                </div>

                <div class="form-group">
                    <label for="patch_app">App</label>
                    <input type="text" class="form-control" id="patch_app"
                           name="appName" value="{{ patch_title.app_name }}" required/>
                </div>

                <div class="form-group">
                    <label for="patch_bundle_id">Bundle ID</label>
                    <input type="text" class="form-control" id="patch_bundle_id"
                           name="bundleId" value="{{ patch_title.bundle_id }}"
                           required/>
                </div>

                <div class="form-group pull-right">
                    <button class="btn btn-danger"
                            onclick="window.location.href='../../patch?id={{ patch_title.id_name }}'">Cancel</button>
                    <button id="{{ patch_title.id_name }}"
                            class="btn btn-primary"
                            onclick="indexEditPatch(this.id)">Save</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
