<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patch Server</title>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/bootstrap-filestyle.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/images/icon/57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/images/icon/60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/icon/72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/images/icon/76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/icon/114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/images/icon/120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/images/icon/144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/images/icon/152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/icon/180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/images/icon/192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/icon/32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/icon/96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/icon/16x16.png">
    <link rel="manifest" href="../static/images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/images/icon/144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable alert-abs fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ message['title'] }}:</strong> {{ message['message']|safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body_content %}
    {% endblock %}

</body>
</html>