{% extends 'base.html' %}
{% block body_content %}

    <div class="container-fluid">
        <div class="col-md-12 main">
            <h2>
                <span>Software Titles</span>
                <button class="btn-primary btn-xs pull-right" onclick="window.location.href='#'">
                    Add <span class="glyphicon glyphicon-plus"></span>
                </button>
            </h2>

            <div class="table-responsive">
                <table class="table table-striped" id="patch-list">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Patch ID</th>
                            <th>Name</th>
                            <th>Publisher</th>
                            <th>Current Version</th>
                            <th>Last Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(indexPatchList);
    </script>

{% endblock %}
