{% extends 'base.html' %}
{% block body_content %}

{% include 'modals.html' %}

    <div class="container-fluid">
        <div class="col-md-12 main">
            <h2>
                <span>Software Titles</span>
                <div class="pull-right">
                    <button class="btn-primary btn-xs" data-toggle="modal" data-target="#newTitleModal">
                        New Title <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn-success btn-xs" onclick="window.location.href='../api/v1/backup'">
                        Backup <span class="glyphicon glyphicon glyphicon-download"></span>
                    </button>
                </div>
            </h2>

            <div class="table-responsive">
                <table class="table table-striped" id="patch-list">
                    <thead>
                        <tr>
                            <th>Patch ID</th>
                            <th>Name</th>
                            <th>Publisher</th>
                            <th>Current Version</th>
                            <th>Last Modified</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-12 main">
            <h2>
                <span>Webhooks</span>
                <div class="pull-right">
                    <button class="btn-primary btn-xs" data-toggle="modal" data-target="#newWebhookModal">
                        New Webhook <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </h2>

            <div class="table-responsive">
                <table class="table table-striped" id="webhook-list">
                    <thead>
                        <tr>
                            <th>Enabled</th>
                            <th>Send Definition</th>
                            <th>URL</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(listSoftwareTitles);
        $(document).ready(listWebhooks);
    </script>

{% endblock %}
