{% extends 'base.html' %}
{% block body_content %}

{% include 'modals.html' %}

    <div class="container-fluid">
        <div class="jumbotron" style="padding: 1rem; margin-bottom: 1rem; margin-top: 1rem;">
            <h2>
                Patch Server
                <a class="btn btn-info float-right" href="https://github.com/brysontyrrell/PatchServer/blob/master/README.md" target="_blank" role="button">
                    Docs <i class="fas fa-book-reader"></i></a>
            </h2>
        </div>

        <div class="col-md-12 main">
            <div style="margin-bottom: 1rem; margin-top: 1rem;">
                <h3>
                    Software Titles
                    <div class="float-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#newTitleModal">
                            New Title <i class="fas fa-plus"></i>
                        </button>
                        <button class="btn btn-success" onclick="window.location.href='../api/v1/backup'">
                            Backup <i class="fas fa-file-download"></i>
                        </button>
                    </div>
                </h3>
            </div>


            <table class="table table-striped" id="patch-list">
                <thead>
                    <tr>
                        <th>Patch ID</th>
                        <th></th>
                        <th>Name</th>
                        <th>Publisher</th>
                        <th>Current Version</th>
                        <th></th>
                        <th>Last Modified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>

         <br>

        <div class="col-md-12 main">

            <div style="margin-bottom: 1rem; margin-top: 1rem;">
                <h3>
                    Webhooks
                    <div class="float-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#newWebhookModal">
                            New Webhook <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </h3>
            </div>

            <table class="table table-striped" id="webhook-list">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Verify SSL</th>
                        <th>Send Definition</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>

    <script>
        $(document).ready(listSoftwareTitles);
        $(document).ready(listWebhooks);
    </script>

{% endblock %}
