{% extends 'base.html' %}
{% block body_content %}

    <div class="container-fluid">
        <div class="col-md-12 main">
            <h2>Software Title: {{ name_id }}</h2>

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="current">{{ name_id }}</li>
            </ol>

            <div class="table-responsive">
                <table class="table table-striped" id="patch-about">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Patch ID</th>
                            <th>Publisher</th>
                            <th>Current Version</th>
                            <th>App</th>
                            <th>Bundle ID</th>
                            <th>Ext Att?</th>
                            <th>Last Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <h3>
                <span>Device Eligibility Criteria</span>
                <button class="btn-primary btn-xs pull-right" onclick="window.location.href='../patch/criteria?id={{ name_id }}'">
                    Add <span class="glyphicon glyphicon-plus"></span>
                </button>
            </h3>

            <div class="table-responsive">
                <table class="table table-striped" id="patch-eligibility">
                    <thead>
                        <tr>
                            <th>Criteria</th>
                            <th>Operator</th>
                            <th>Value</th>
                            <th>Type</th>
                            <th>And/Or?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <h3>
                <span>Patch Versions</span>
                <button class="btn-primary btn-xs pull-right" onclick="window.location.href='#'">
                    Add <span class="glyphicon glyphicon-plus"></span>
                </button>
            </h3>

            <div class="table-responsive">
                <table class="table table-striped" id="patch-versions">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Version</th>
                            <th>Release Date</th>
                            <th>Minimum OS</th>
                            <th>Requires Reboot?</th>
                            <th>Standalone?</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(viewPatchLoad);
    </script>

{% endblock %}
